
<div class="card border-light mb-3 shadow-lg" style="max-width: 18rem;">
	<div class="card-header text-white d-flex align-items-center justify-content-evenly">{{ name }}</div>
	<div class="card-body">
		<div class="row">
			<div class="col-8 d-flex justify-content-center">
				<i class="fas fa-hamburger fa-5x "></i>
			</div>
			<div class="col-4 d-flex justify-content-center">
				<button class="change-devoured btn btn-light bg-transparent border-0" data-id="{{id}}" data-newdevoured="{{devoured}}">
					{{#if devoured}}<span class="save-later"><i class="fas fa-shopping-bag fa-2x"></span></i>{{else}}<span class="eat-now"><i class="fas fa-utensils fa-2x"></i></span>{{/if}}
				</button>		
			</div>
		</div>
	</div>
</div>