<!-- As a heading -->
<nav id="heading" class="navbar navbar-dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1"><h1><i class="fas fa-hamburger"></i> BURGERS I/O</h1></span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="collapse" id="navbarToggleExternalContent">
      <div class="p-4">
        <form class="text-white" id="create-form"></form>
          <div class="row g-3 align-items-center">
            <div class="col">
              <h2 class="text-white">Add a Burger</h2>
              <input type="text" id="burger" name="name" class="form-control" placeholder="Name" aria-label="Burger Name">
            </div>
            <div class="col">
              <div class="form-check form-switch form-control-lg">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                <label class="form-check-label text-white" for="flexSwitchCheckDefault">Eaten?</label>
              </div>
              <button id="add" type="submit" class="btn border-white"><i class="fas fa-plus-circle"></i> Add Burger</button>
            </div>
          </div>
        </form>
      </div>
    </div>
</nav>
<br>
<main class="container">
  <div class="row">
    <div class="col-12 col-sm-6">
      <h2 class="devoured d-flex justify-content-around text-white">Uneaten Burgers</h2>
      <br>
      <div class="row">
        {{#each burger}}
        {{#unless devoured}}
          <div class="col-12 col-md-6 d-flex justify-content-center">
            {{> burger devoured=false}}
          </div>
        {{/unless}}
        {{/each}}
      </div>
    </div>
    <br>
    <div class="col-12 col-sm-6">
      <h2 class="devoured d-flex justify-content-around text-white">Eaten Burgers</h2>
      <br>
      <div class="row">
        {{#each burger}}
        {{#if devoured}}
          <div class="col-12 col-md-6 d-flex justify-content-center">
            {{> burger devoured=true}}
          </div>
        {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</main>