<h1>Burgers I/O</h1>

<h2>Burgers I have not Eaten:</h2>

<ul>
  {{#each burger}}
  {{#unless devoured}}
  {{> burger devoured=false}}
  {{/unless}}
  {{/each}}
</ul>

<h2>Burgers I have Eaten:</h2>

<ul>
  {{#each burger}}
  {{#if devoured}}
  {{> burger devoured=true}}
  {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form id="create-form">
    <div class="form-group">
        <label for="burger">Name:</label>
        <input type="text" id="burger" name="name">
    </div>

    <div class="form-group" action="/api/burgers" method="post">
        <label for="eaten">Eaten</label>
        <input type="radio" name="eaten" value="1" id="eaten" checked></input><br>
        <label for="eaten">Uneaten</label>
        <input type="radio" name="not-eaten" value="0" id="not-eaten">
    </div>

    <button type="submit">Add Burger</button>
</form>