/* font-family: 'Cookie', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Roboto', sans-serif; */

html {
    background:
        url(https://images.unsplash.com/photo-1526371233670-42d618efcec5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80) 
        no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow-y: auto;
}

body {
    font-family: 'Roboto', sans-serif;  
}

h1 {
    font-family: 'Pacifico', cursive;
    text-align: center;
}

h2 {
    font-family: 'Cookie', cursive;
    padding-bottom: 5px;
    padding-top: 5px;
    line-height: 30px;
    margin-bottom: 2px;
}

h2.devoured {
    font-size: 3rem;
}

div.card {
    width: 100%;
}

.form-check.form-switch {
    padding-bottom: 5px;
    padding-top: 5px;
}

.card-header {
    font-family: 'Roboto', cursive;
    text-align: center;
    min-height: 4rem;
    background-color: #CF3721;
}

i.fas.fa-hamburger {
    color: #F5BE41;;
}

i.fas.fa-hamburger:hover {
    color: #CF3721;
}

span.change-devoured i:hover {
    color: #31A9B8
}

nav#heading {
    background-color: #CF3721;
}

button#add {
    background-color: #CF3721;
    color: #FFFFFF;
}

button#add:hover {
    background-color: #FFFFFF;
    color: #CF3721;
}